@import './fonts.styl'
@import './mixins.styl'
@import './vars.styl'
@import './reset.styl'

@import './common.styl'
@import './animation.styl'

/* components import here */

@import './components/layout/header'
@import './components/layout/footer'
@import './components/layout/social'
@import './components/layout/burger'

@import './components/section-index/index'
@import './components/section-index/animation'

@import './components/section-trailer/trailer'
@import './components/section-universe/universe'
@import './components/section-reference/reference'
@import './components/section-reference/links'

@import './components/section-episode/episode'

@import './components/common/popup.styl'

@import './components/section-calendar/calendar'
  
@import './components/section-frames/frames'
@import './components/section-frames/frame'

@import './components/section-actors/actors'
@import './components/section-actors/actor'
@import './components/section-podcast/podcast'
