$gt = 'Gotham'

$black = #000
$white = #fff
$bg-blue = #e4ecee

$mobile = '(max-width:660px)'
$desktop = '(min-width:661px)'
$tablet = '(max-aspect-ratio: 16 / 9) and (min-width: 661px)'

$ios = '(-webkit-overflow-scrolling: touch)'

$ie = 'screen and (-ms-high-contrast: active), (-ms-high-contrast: none)'